{{define "tournaments.html"}}
{{template "base.html" .}}
{{end}}
{{define "content"}}
<h1>Tournaments</h1>
<ul>
  {{range .Tournaments}}
  <li>
    {{.Name}} - {{.Location}}
    <form method="POST" action="/tournaments/{{.ID}}">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-primary">{{T "common.delete" nil}}</button>
    </form>
    <a href="/tournaments/{{.ID}}">Show</a>
  </li>
  {{end}}
</ul>

<h2>Add Tournament</h2>
<form method="POST" action="/tournaments">
  Name: <input type="text" name="name">
  {{ if .Errors.name }}
  <div class="color:red;">{{ .Errors.name }}</div>
  {{ end }}
  <br>
  Location: <input type="text" name="location">
  {{ if .Errors.location }}
  <div class="color:red">{{ .Errors.location }}</div>
  {{ end }}
  <br>

  <input type="submit" value="Add" class="btn btn-primary">
</form>
{{end}}